@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-300;
  }
}

* {
  cursor: none !important;
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(94, 234, 212, 0.5);
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #134e4a;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #2dd4bf;
}

/* Hide Next.js / Vercel Dev Overlays & Error Buttons */
#nextjs-portal,
[data-nextjs-dialog-overlay],
.nextjs-toast-errors-parent,
vercel-live-feedback {
  display: none !important;
}

/* Localized Custom Scrollbar for sidebars */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(45, 212, 191, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(45, 212, 191, 0.4);
}